.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.date {
  font-size: 0.9rem;
  color: #777;
}

.content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.content ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.content li {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.content li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.content a {
  color: #1a73e8;
  text-decoration: none;
  font-size: 1rem;
}

.content a:hover {
  text-decoration: underline;
}

.content p {
  line-height: 1.5;
  margin: 0.3rem 0 0 0;

}

.pageTitle{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #bdbdbd;
}

.postItem {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
  list-style: none;
}

.readMore {
  display: inline-block;
  font-size: 0.9rem;
  color: #666666;
}

.readMore:hover {
  text-decoration: underline;
}

.postInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.postInfo p {
  margin: 0;
  font-size: 0.8rem;
  color: #ff6347;;
}

.postTitle {
  margin: 0%;
  font-size: 1.3rem;
  transition: color 0.7s ease;
}

.postTitle:hover {
  color: #ff6347;;
}

.postMeta{
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #777;
  gap: 1rem;
}

.postList {
  list-style: none;
  padding: 0;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

/* Add active class for highlighted table of contents item */
.active {
  color: #007bff; /* Highlight color */
  font-weight: bold;
}